/* WINDING PATH WEB120 */
/* DESKTOP */
@media all @media all and (min-width:481px)
and (min-width:1280px) {
    
    
}  
/*CSS RESET*/
 * { margin: 0; padding: 0; box-sizing: border-box; }

    @font-face {
        font-family: 'arial';
        src: url('fonts/ArialMT.ttf');
        font-weight: normal;
        font-style: normal;
    }
    html {
        background-color: #171616;;
    }
    body {
        max-width:960px;
        min-width:320px;
        margin:auto;
        border-radius:50px;
        /*background: red; /* For browsers that do not support gradients */
        /*background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
        /*background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
        /*background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
        /* background: linear-gradient(red, yellow); /* Standard syntax */
        background-color: rgba(255, 255, 255, 0.28);
        font-family: arial, sans-serif;
        font: 100%;
        font-weight: normal;
        padding: .5em;
        line-height: 1.5em;
        color: #fff; 
    }
    header {   
        background-image: url(../images/pathway.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        border: none;
    }
    header h1 {
        width: 30%;
        float:left;
        margin-top: .8em;
        margin-left: 2.5em;
        padding-top:.4em;
        padding-right: 2.5em;
    }
    .cta{
        float: right;
        max-width: 30%;
        margin: 2em 10em 2em 2em;
        padding:1em 2em;
        background-color: #644242;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.52);
        background-size: cover;
        
    }
    .cta a{
        text-decoration:none;
        color: #fff;
    }
    aside a{
        text-decoration:none;
        color: #fff;
    }
    #cssmenu{
        clear:both;
        border-radius:10px;
        margin-left: 25%;
    }
    div.home {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        padding:.25em;
        text-align:center;
        
    }
    div.home img{
        width: 100%;
        max-width: 665px; 
        max-height: 320px;
        border-radius:10px;
        box-shadow: 10px 10px 5px #888888;
    }
    section, .feedback, .youTube { 
        background-color: #312F2F; 
        border-radius: 10px;
        padding: 1em;
        margin-bottom: 2em;
        width: 400px;
        min-width: 300px;
        float: left;
        margin-left:145px;
        box-shadow: 10px 10px 5px #888888;
        background-image: url(../images/rock.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .content { 
        margin-top: 1.5em;
    }
    p {
        padding: 1em;
    }
    aside, .numbers, .calendar {
        background-color: #312F2F;
        padding: 1em;
        margin-bottom: 2em;
        border-radius: 10px;
        min-width: 185px;
        float: right;
        margin-right:145px;
        box-shadow: 10px 10px 5px #888888;
        background-image: url(../images/rock.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .qkref {
        list-style: none;
    }
    header h1 {
        text-align:right; 
        color: #fff;
    }
    .pageID {
        display: none; 
    }
    .feedback, .youTube {
        clear: both;
        margin-top: 2em;
        width: 340px;
    }
    .numbers, .calendar {
        margin-top: 2em;
        width: 300px;
    }
    .gmap {
        width: 268px;
    }
    hr {
        clear: both;
        border: 0;
        height: 2px;
        background: #312F2F;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
        margin-top:1em;
        margin-bottom:1em
    }
    .address {  
        text-align: center;
        line-height: 1em;
        padding-bottom:1em;
    }
    .contact {
        clear: both;
        margin: auto;
        padding-top: 25px;
        width: 100%;
        max-width: 665px;
        padding-top:.25em;
        text-align:center;  
        list-style: none;
    }
    .contactLink {
        background-color: #312F2F;
        width:30%;
        padding: 1em;
        float: left;
        margin-left: 3%;
        border-radius: 10px;
        box-shadow: 10px 10px 5px #888888;
        background-size: cover;
    }
    h1 a, .contactLink a {
        color: #fff;
        text-decoration:none;  
    }
    footer {
        text-align:center;
        padding:1em;    
    }
    footer p { 
        text-transform:uppercase;
        clear:both; 
        margin:2em;  
    }
    footer a {
        color: #644242;
        text-decoration:none;   
    }
    footer a:hover {
        color: #B0A9A9;
    }


    
/* TABLET 
@media all and (min-width:481px) and (max-width:1279px) {
    
}*/

/* PHONE */
@media all and (max-width:800px) {
   
    body {
        min-width:320px;
    }
    .feedback, .numbers, section {
        max-width:100%;
        margin: 0 auto;
        float: none;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
    aside{
        display:none
    }
    .numbers {
        width: 340px;
    }
    header h1 {
        clear:both;
        width: 20%;
        float:left;
        margin: .5em;
        padding-right: 2.5em;
    }
    .cta {
        float: right;
        max-width: 100%;
        margin: 1em 0em 1em 1em;
        padding: 1em 2em;
        background-color: #644242;
        border-radius: 10px;
        box-shadow: 10px 10px 5px #888888;
        background-size: cover;
    }
    .contactLink {
        background-color: #312F2F;
        width:100%;
        padding: 1em;
        margin:auto;
        border-radius: 10px;
        box-shadow: 10px 10px 5px #888888;
        background-size: cover;
        margin-top: 1em;
    }   
}